[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
          --authentication-kubeconfig=/etc/kubernetes/controller-manager.conf \
          --authorization-kubeconfig=/etc/kubernetes/controller-manager.conf \
          --bind-address=127.0.0.1 \
          --client-ca-file=/etc/kubernetes/pki/ca.crt \
          --cluster-signing-cert-file=/etc/kubernetes/pki/ca.crt \
          --cluster-signing-key-file=/etc/kubernetes/pki/ca.key \
          --controllers=*,bootstrapsigner,tokencleaner \
          --kubeconfig=/etc/kubernetes/controller-manager.conf \
          --leader-elect=true \
          --requestheader-client-ca-file=/etc/kubernetes/pki/front-proxy-ca.crt \
          --root-ca-file=/etc/kubernetes/pki/ca.crt \
          --service-account-private-key-file=/etc/kubernetes/pki/sa.key \
          --tls-cert-file=/etc/kubernetes/pki/apiserver.crt \
          --tls-private-key-file=/etc/kubernetes/pki/apiserver.key \
          --use-service-account-credentials=true \
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target