[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
          --authentication-kubeconfig=/etc/kubernetes/scheduler.conf \
          --authorization-kubeconfig=/etc/kubernetes/scheduler.conf \
          --bind-address=127.0.0.1 \
          --client-ca-file=/etc/kubernetes/pki/ca.crt \
          --kubeconfig=/etc/kubernetes/scheduler.conf \
          --leader-elect=true \
          --requestheader-client-ca-file=/etc/kubernetes/pki/front-proxy-ca.crt \
          --tls-cert-file=/etc/kubernetes/pki/apiserver.crt \
          --tls-private-key-file=/etc/kubernetes/pki/apiserver.key \
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target