[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/kubelet \
          --config=/etc/kubernetes/kubelet-config.yaml \
          --kubeconfig=/etc/kubernetes/{{ inventory_hostname }}.conf \
          --cgroup-driver=systemd \
          --runtime-cgroups=/systemd/system.slice \
          --kubelet-cgroups=/systemd/system.slice \
          --tls-private-key-file=/etc/kubernetes/pki/{{ inventory_hostname }}-key.pem \
          --tls-cert-file=/etc/kubernetes/pki/{{ inventory_hostname }}.pem
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target